{% extends "base.jinja2" %}
{% include "components/nav.jinja2" %}
{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h4>Server Ticks</h4>
    <div class="tick-view">
      <span id="clock"> </span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-5">
      <h3> What is this? </h3>
      {{ content['what_is_this'] }}
    </div>

    <div class="col-md-7">
      <h3> Where do I go from here? </h3>
      <div class="alert alert-info text-center" role="alert">
          {{ content['alert_guide'] }}
      </div>
      {{ content['where_next'] }}
    </div>

    <div class="col-md-12">
      <h3> Helpful Links </h3>
      {{ content['helpful_links'] }}
    </div>

  </div> <!-- row -->
</div>

{% endblock %}
