<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" 
              type="text/css"
              href="{{ asset('css/app.css') }}" />
        <title>{{title}}</title>
        <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
    </head>
    <body>
        <h1>Server Ticks</h1>
        <div>
            Tick events from the server:
            <span id="clock"> </span>
        </div>
    </body>
</html>
